<div class="border border-bottom-0 border-opacity-100 row" style="margin-bottom: 16px; padding: 7px;">
	<div class="col-9">
		<h4 style="color:darkcyan"> {{job['title']}} </h4>
		<div>
			<b>Location:</b> {{job['location']}}
		</div>
		{%if 'salary' in job %}
		<div>
			<b>Salary:</b> {{job['salary']}}
		</div>
		{% endif %}
	</div>
	<div class="col-3" style="padding-top: 11px;">
		<a href="mailto:mailto:dev.hoyte@gmail.com?subject=Application%20for%20{{job['title']}}&body=Your%20Name%3A%20%3Cinsert%20name%20here%3E%0D%0A%0D%0AResume%20Link%3A%20%3Cinsert%20resume%20link%3E%0D%0A%0D%0ALinkedin%20Link%3A%20%3Cinsert%20linkedin%20lin%3E" type="button" class="btn btn-success">Apply Here</a>
	</div>
</div>